@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400..800&family=Unbounded:wght@200..900&display=swap');
@import "tailwindcss";

@theme {
  --color-prim: #008BFF;
  --color-prim-dark: #161A2D;
  --color-secondary: ;
  --color-secondary-dark: ;
  --color-gray-light: #f7f7f7;

  --font-unbounded: "Unbounded", sans-serif;
  --font-sen: "Sen", sans-serif;
}

body {
  box-sizing: border-box;
  font-family: "Sen", sans-serif;
}

.hero-bg {
  background-image: url(assets/Images/Index/Hero/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.hero-bg::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #161a2d;
  opacity: 0.4;
  z-index: 0;
}